/* * {
    background-color: blue;
} */
body {
    background-color: #C5C3C3;
}
.seccion {
    /* background-color: rgb(16, 173, 201); 
    color oficial de cochasoft celeste*/
    /* background-color: rgb(16, 173, 201); */
    background-color: #12C6BB;
}
.left {
    /* text-align: left; */
    /* background-color: yellowgreen; */
}
.lema {
    /* text-align: left; */
    /* background-color: tomato; */
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #ffff;
    margin: 80px 250px 80px 90px;
    padding: 100px 10px;
    font-size: xx-large;
}
.contact {
    /* text-align: left; */
    background-color: #ffff;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: black;
    padding: 10px 30px;
    display: inline;
    text-decoration: none;
    border-radius: 14px;
    margin: 80px 140px;
}
.rigth {
    /* text-align: right; */
   /*  background-color: chartreuse; */
}
.imagen {
    /* text-align: right; */
    width:350px;
    height:350px;
    border-radius:190px;
    border:15px solid #ffff;
    position: absolute;
    left: 730px;
    bottom: 115px;
}
.contenedor-figura {
    height: 150px;
    overflow: hidden;
    width: 1px 1px;
}
.figura {
    height: 100%; 
    width: 100%;
    border: 2px;
}